---
import MainLayout from '~layouts/MainLayout.astro'
import PopUpOne from '~components/PopUpOne.astro'
import PopUpTwo from '~components/PopUpTwo.astro'
---

<MainLayout title="Components">
  <div class="relative min-h-[150vh] bg-gray-200 md:min-h-screen">
    <!-- Comment either of these two components -->
    <PopUpOne />
    <!-- <PopUpTwo /> -->
  </div>
</MainLayout>
