<footer class="bg-secondary-500 py-12 text-secondary-50 md:py-16 lg:py-20">
  <div class="container">
    <div class="flex flex-col items-start gap-8 lg:flex lg:flex-row lg:justify-between">
      <div class="lg:max-w-md">
        <img class="w-40" src="/images/experientialist-logotype-alt.png" alt="Experientialist" />
        <p class="mt-8 text-lg">
          <span class="uppercase">Expieriantalist</span> is a dedicated
          <span class="uppercase">mice</span> and Luxury Travel planning agency. We are uncompromising
          in experience, adventure, and passion.
        </p>
      </div>

      <div class="flex flex-col items-start gap-8 lg:flex-row lg:gap-12">
        <nav aria-label="Experience">
          <div class="font-display text-xl uppercase tracking-tight text-primary-300">
            Experience
          </div>
          <div class="mt-4 flex flex-col items-start gap-3">
            <a class="text-sm uppercase tracking-wide underline-offset-4 hover:underline" href="#">
              About
            </a>

            <a class="text-sm uppercase tracking-wide underline-offset-4 hover:underline" href="#">
              FAQ
            </a>

            <a class="text-sm uppercase tracking-wide underline-offset-4 hover:underline" href="#">
              Service &amp; Fees
            </a>

            <a class="text-sm uppercase tracking-wide underline-offset-4 hover:underline" href="#">
              How we work
            </a>
          </div>
        </nav>

        <nav aria-label="Connect">
          <div class="font-display text-xl uppercase tracking-tight text-primary-300">Connect</div>
          <div class="mt-4 flex flex-col items-start gap-3">
            <a class="group flex items-center gap-3 text-sm uppercase tracking-wide" href="#">
              <span class="fab fa-facebook-f"></span>
              <span class="underline-offset-4 group-hover:underline">Facebook</span>
            </a>

            <a class="group flex items-center gap-3 text-sm uppercase tracking-wide" href="#">
              <span class="fab fa-twitter"></span>
              <span class="underline-offset-4 group-hover:underline">Twitter</span>
            </a>

            <a class="group flex items-center gap-3 text-sm uppercase tracking-wide" href="#">
              <span class="fab fa-instagram"></span>
              <span class="underline-offset-4 group-hover:underline">Instagram</span>
            </a>

            <a class="group flex items-center gap-3 text-sm uppercase tracking-wide" href="#">
              <span class="fab fa-tiktok"></span>
              <span class="underline-offset-4 group-hover:underline">TikTok</span>
            </a>
          </div>
        </nav>
      </div>
    </div>

    <div
      class="mt-12 flex flex-col gap-4 text-sm text-secondary-50/50 md:mt-16 lg:mt-20 lg:flex-row lg:justify-between"
    >
      <p>
        Copyright &copy; 2022. <span class="uppercase">Experientialist</span>. All rights reserved.
      </p>
      <div class="flex flex-col items-start gap-4 md:flex-row lg:gap-8">
        <a class="underline underline-offset-4 hover:text-secondary-50" href="#">
          Terms &amp; Conditions
        </a>

        <a class="underline underline-offset-4 hover:text-secondary-50" href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
