---
import Title from '~/components/Title.astro'
import '~/styles/main.css'

export interface PageProps {
  frontmatter: {
    title: string
    prefix?: string
    suffix?: string
  }
}

const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" />
    <Title title={frontmatter.title} prefix={frontmatter.prefix} suffix={frontmatter.suffix} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap"
    />
  </head>

  <body class="min-w-xs antialiased">
    <div class="prose mx-auto px-4 py-4">
      <slot />

      <div class="not-prose my-8 flex items-center space-x-4">
        <hr class="grow" />
        <div class="h-6 w-6 rounded-full bg-primary-200"></div>
        <hr class="grow" />
      </div>
    </div>
  </body>
</html>
